[submodule "Code/TPs/1c2024-numeros-10"]
	path = Code/TPs/1c2024-numeros-10
	url = https://github.com/Ingenieria-de-software-I-alumnos/1c2024-numeros-10
[submodule "Code/TPs/1c2024-combatientes-fantasticos-10"]
	path = Code/TPs/1c2024-combatientes-fantasticos-10
	url = https://github.com/Ingenieria-de-software-I-alumnos/1c2024-combatientes-fantasticos-10
